@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


.background {
  background-color: #000;
  height: 93.9vh;
  padding-top: 60px;
}



.button-85 {
  margin: 0.6em ;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  height: 3rem;
  width: 10rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  font-family: jost;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.card_text{
margin-top: 10px;

}

.card{
margin: auto;
width: 500px;
height: 170px;
text-align: center;
border: 2px solid #fff;
border-radius: 15px;
margin-top: 20px;
}
.card-container {
display: grid;
grid-template-columns: repeat(3, 1fr); /* 4 columns with equal width */
grid-gap: 20px; /* add space between elements */
}

.update_input {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
border-radius: 15px;
height: 30px;
width: 15%;
 -webkit-transition: width 0.15s ease-in-out;
 transition: width 0.15s ease-in-out;
 font-family: jost;

}






::placeholder{
  color: #000;
  font-size: 20px;
}




.submit-button-background {
    display: flex;
    justify-content: center;
    background-color: #000;
    align-items: center;
}

/* ================================================================= */

