.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  padding: 16px;
  position: absolute; /* make the sidebar position fixed */
  left: 0; /* position the sidebar to the left */
  height: 93.9%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  size: 30px;
  outline: #00ff00 solid 1px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* add a background color transition */
}

.sidebar-item:hover {
  background-color: #000;
  color: #00ff00;
}

.sidebar-item.active {
  color: #00ff00;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  filter: invert(100%);
}

.file_icon {
  background-image: url("./file_icon.svg");
}

.graph {
  background-image: url("./graph.svg");
}

.label {
  font-size: 14px;
  margin-left: 8px; /* add a left margin to separate the label from the icon */
}
.label {
  font-size: 22px;
}
