@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  
  
  .nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: stretch;
    gap: 2rem;
    position: absolute;
    width: 100%;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }

  .logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    color: #00FF00;
  }
  
  .nav li:hover {
    background-color: #000;
    color: #00FF00;

  }